 <!-- ABOUT ME PAGE WHICH SHOWS WHAT THE FORUM APP IS ABOUT -->
<!doctype html>
<html>
  <head>
    <title>Welcome to My Forum</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to the about page for My Forum</h1>
    <form action="/logout" method="get">
      <button type="submit">Logout</button>
  </form>
  </body>
</html>
