 <!-- LISTS ALL THE POSTS AND DISPLAYS THEM -->
<!doctype html>
<html>
  <head>
    <title>Welcome to My Forum</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>

     <!-- Loops through the posts and displays the text for each of them -->
    <% posts.forEach(function(post) { %>
        <%=post.text %>
        <%
    }) %>
    
  </body>
</html>
